// ------------------variables----------------
//colors

//colors
//headersbutton

@media only screen and (min-width: 1200px) {
  $gradblue: rgb(70, 142, 249);
  $gradblue2: rgb(57, 132, 244);
  $bgcolor: linear-gradient(
    139deg,
    rgba(57, 132, 244, 0.03974089635854339) 0%,
    rgba(12, 211, 255, 0.017331932773109293) 39%,
    rgba(47, 124, 240, 0.0033263305322128733) 76%,
    rgba(14, 101, 232, 0.03974089635854339) 100%
  );
  .nvbtn {
    width: 165px;
    height: 64;
    top: 54px;
    border-radius: 40px;
    border: 1px;
    padding: 10px;
    gap: 10;
  }

  .nvbtn-logb {
    @extend .nvbtn;
    margin-left: 160px;
    margin-right: 20px;
    border: 1px $gradblue solid;
    color: $gradblue;
    background: $bgcolor;
  }
  .nvbtn-signb {
    @extend .nvbtn;
    background-color: $gradblue;
    color: aliceblue;
  }
  // ------------------variables----------------
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
  }

  header {
    background: rgb(57, 132, 244);
    background: $bgcolor;
    nav {
      display: inline-block;
    }
    a {
      display: flex !important;
      justify-content: space-between;
    }
  }

  .nav-link {
    font-size: 1.2rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
  }

  .hdrnv {
    padding-top: 35px !important;
  }

  .firstli {
    margin-left: 107px;
  }

  // ----------header div--------------------
  .divasign {
    color: $gradblue;
    padding-top: 120px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  h1 {
    width: 440px;
    padding-top: 18px;
    color: var(--fontblack, #222);
    font-size: 3.5rem !important;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
  }

  .divp {
    width: 480px;
    color: var(--fontsecondary, #666);
    font-size: 1rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  h1 {
    span {
      background: var(
        --gra-blue-2,
        linear-gradient(
          134deg,
          #3984f4 0%,
          #0cd3ff 39.06%,
          #2f7cf0 76.56%,
          #0e65e8 100%
        )
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .nvbtn-logb-icondw {
    @extend .nvbtn;
    @extend .nvbtn-logb;
    margin-left: 10px !important;
  }

  //-----------header div end ----------------
}

@media only screen and (max-width: 1999px) {
  .nvbtn {
    width: 165px;
    height: 64;
    top: 54px;
    border-radius: 40px;
    border: 1px;
    padding: 10px;
    gap: 10;
  }

  .nvbtn-logb {
    @extend .nvbtn;
    margin-left: 160px;
    margin-right: 20px;
    border: 1px $gradblue solid;
    color: $gradblue;
    background: $bgcolor;
  }
  .nvbtn-signb {
    @extend .nvbtn;
    background-color: $gradblue;
    color: aliceblue;
  }
}
