$gradblue: rgb(70, 142, 249);
$gradblue2:linear-gradient(133deg, rgba(70,142,249,1) 0%, #0C66EE 100%);
$gradblue3: linear-gradient(134deg, rgba(57,132,244,1) 0%, rgba(12,211,255,1) 39%, rgba(47,124,240,1) 77%, rgba(14,101,232,1) 100%);

