.trending {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

.more {
  color: #2f7cf0;
  font-size: 1rem;
  font-weight: 500;
}

.npc {
  color: #666;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.15px;
}

.btc {
  color: #000;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
