@use '../base/typography';


#sectionone {
  border-radius: 40px;
  background: #fff;
  border: solid 1px white;
  margin-top: -25px;
  top: 1000px;
  box-shadow: 1px 1px 1px 1px rgb(57, 132, 244);;
}
