@use '../base/typography';


#sectionone {
  border-radius: 40px;
  background: #fff;
  border: solid 1px white;
  position: absolute !important;
  top: 745px;
  box-shadow: 1px 1px 1px 1px rgb(57, 132, 244);;
}
