.dat {
  display: contents !important;
}

.bir {
  position: relative !important;
  top: 200px;
  left: 350px;
}

.iki {
  position: relative !important;
  top: 650px;

}

.uc {
  position: relative !important;
  left: 850px;
}

.dort {
  position: relative !important;
    left: 1350px;
    top: 120px;
}

//diveder

.hr-blurry {
  width: 365px !important;
  height: 1px;
  color:rgb(8, 7, 7, .5)
}

.vr {
  position: relative !important;
  color:rgb(8, 7, 7, .5)
}

.one {
  @extend .vr;
  left: 500px;
  top: -300px;
}
