.dat {
    display: contents !important;
  }
  
  .bir {
    position: absolute !important;
    top: 346px;
    left: 656px;
  }
  
  .iki {
    position: absolute !important;
    top: 700px;
    left: 108px;
  }
  
  .uc {
    position: absolute !important;
    top: 150px;
    left: 850px;
  }
  
  .dort {
    position: absolute !important;
    top: 500px;
    left: 1280px;
  }

  //diveder

  .hr-blurry {
    width: 365px !important;
   height: 1px;
  }

  .vr{
    position: absolute !important;
    left: 442px;
    top: 135px;
  }