.dat {
  display: contents !important;
}

.bir {
  position: relative !important;
  top: 200px;
  left: 350px;
}

.iki {
  position: relative !important;
  top: 520px;
  right: 100px;
}

.uc {
  position: relative !important;
  left: 850px;
}

.dort {
  position: relative !important;
    left: 1350px;
    top: 120px;
}

//diveder

.hr-blurry {
  width: 365px !important;
  height: 1px;
}

.vr {
  position: absolute !important;
  left: 442px;
  top: 135px;
}
